@mixin screen-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin li-nodot {
  width: auto;
  height: auto;
  background: none !important;
  border: none !important;
  position: relative;
  top: 0 !important;
  left: 0 !important;
}
